<form action="/" method="post">
	<% if @error.present? %><div class="alert alert-danger col-md-8"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<%= @error %></p></div><br/><% end %>
	<div>
		<i>Please enter a word below</i>
	</div>
	<div class="col-md-4 col-md-offset-4">
		<input type="text" id="word" name="word" placeholder="Enter a word">
	</div>
	<div class="col-md-4">&nbsp;</div>
	<div class="col-md-12">&nbsp;</div>
	<div>
		<input type="submit" class="btn btn-primary" value="SHOW ANAGRAMS">
	</div>
</form>
<script>
	$(document).ready(function(){
		$("#word").focus();
	});
</script>