<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="styles/themes/smoothness/jquery-ui-1.10.4.custom.min.css"/>
		<link rel="stylesheet" href="styles/site.css"/>
		
		<script src="scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
		<script src="scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
		
		<!--<script src="scripts/materialize.min.js" type="text/javascript"></script>-->
		<!-- Latest compiled and minified JavaScript -->
		<title>Anagrams Generatorp</title>
	</head>
	<body>
		<div class="container" id="container">
			<br/>
			<div class="jumbotron">
				<h2>Anagrams Generator</h2>
				<p>Welcome to my ANAGRAM GENERATOR</p>
			</div>
			<%= yield %>
		</div>
	</body>
</html>