<div class="col-md-4 col-md-offset-4">
	<div class="alert alert-default" role="alert">Anagrams for: <i><%= "#{@word}" %></i></div>
	<ul class="list-group">
		<% if !@anagrams.nil? %>
			<%	@anagrams.each do |anagram| %>
				<li class='list-group-item'><%= "#{anagram[:text]}" %></li>
			<% end %>
		<% end %>
	</ul>
</div>