<div class="col-md-4">
	<div class="alert alert-success" role="alert">Anagrams for <%= "#{@word}" %></div>
	<ul class="list-group">
		<% if !@anagrams.nil? %>
			<%	@anagrams.each do |anagram| %>
				<li class='list-group-item'><%= "#{anagram[:text]}" %></li>
			<% end %>
		<% end %>
	</ul>
</div>