<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Numerology App</title>
	</head>
	<body>
		<form action="/" method="post">
			<label for="birthdate">Enter your birthdate</label>
			<input type="text" id="birthdate" name="birthdate">
			<input type="submit">
		</form>
	</body>
</html>