<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<title>Numerology App</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h2>Numerology calculator <small>A skillcrush project</small></h2>
			</div>
			<hr/>
			<%= yield %>
		</div>
	</body>
</html>