html{
	font-family: 'Arimo', sans-serif;
	font-size: 100%;
	position: relative;
	min-height: 100%;
	height:100%;
}

body{
	font-size: 100%;
	margin: 0 0 75px;
	min-height:100%;
	height:100%;
	margin-bottom:-75px;
	background: url("/images/tiles-01.png");
}

#container{
	min-height:100%;
	box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
	background: #FFF;
}

.welcome{
	margin:0 auto;
	text-align:center;
	padding:10px;
}

#brand{
	margin:0;
	padding:0;
	line-height: 75px;
}

#brand img{
	vertical-align: middle;
	display: inline-block;
}

#main{
	width: 100%;
	margin:0 auto;
	margin-top: 10px;
	text-align:center;
}


